/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
#wrap > .container {
  padding: 80px 15px 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
#footer > .container > .text-muted {
  margin: 20px 0;
}
#footer > .container > button {
  margin-top: 12px;
}

/* Other overrides */
.page-header {
  text-align: center;
}
.jumbotron > p {
  text-align: center;
}
.panel-danger > .panel-body {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-footer {
  border-color: #ebccd1;
}
.panel-footer > .flag-note {
  margin-left: 5px;
}
.panel-footer > small {
  margin-left: 20px;
}

.popover-title {
  text-align: center;
}
.popover-content {
  margin: 0 auto;
  text-align: center;
}
.popover-content > button {
  margin: 0 5px;
}